APP_ENV=production
APP_DEBUG=false
APP_URL=https://ckflorist.my
APP_KEY=replace-with-at-least-32-random-characters
APP_TIMEZONE=Asia/Brunei
SESSION_SECURE=true

DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=ckflorist
DB_USERNAME=ckflorist
DB_PASSWORD=replace-me

WHATSAPP_NUMBER=6730000000
UPLOAD_MAX_BYTES=5242880

